.change-speed-btn.bpx-player-ctrl-btn {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.speed-list-container {
    width: 100%; /* 确保选项容器宽度与按钮宽度相同 */
    display: none; /* 初始不可见 */
    position: absolute;
    left: 0;
    z-index: 1000;
    border-radius: 5px;
}

.speed-option {
    cursor: pointer;
}
