.auto-fill-btn {
    position: fixed;
    top: 100px;
    right: 300px;

    padding: 4px 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
