.special-copy-btn {
    --tw-text-opacity: 1;
    background-color: #26bb9c14;
    border-radius: 4px;
    color: rgba(0, 191, 128, var(--tw-text-opacity));
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 12px;
    transition: 0.3s;
}

.message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    display: flex;
    align-items: center;
}

.message {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success {
    background-color: #4caf50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}

.container-hidden {
    display: none;
}
